﻿@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<head>
<title>История игры</title>
<style>
    HyperLink {
        word-spacing: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <asp:Label ID="Label1" BackColor="WhiteSmoke" runat="server" Text="Label"></asp:Label>

        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="btn btn-outline-dark" href="~/Home/Index"> Главная страница </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark">Ваш профиль<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Histori">История игры<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Roli">Роли игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Pravila">Правила игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Player/Game">Игра</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">Игра Мафия придумана весной 1986 года студентом факультета психологии МГУ Дмитрием Давыдовым. Сначала в неё играли в общежитиях, аудиториях и коридорах МГУ. После того, как некоторые студенты университета уехали за границу получать послевузовское профессиональное образование, игра стала распространяться по странам Европы, а затем и другим частям света. Например, первое появление игры Мафия в США документируется 1989 годом, в летнем лагере Пенсильвании.</p>
                    <p class="text-center">По словам автора, переехавшего в 1991 году в Бостон, игра мафия базируется на культурно-исторической теории советского психолога 1920-х годов Л.С.Выготского.</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Прототипом игры Мафия является европейская игра под названием "Убийца" (англ. Wink murder, нем. Mord im Dunkeln), известная с середины XX века. В отличие от игры Мафия, в "Убийце" игроки ищут одного маньяка, а в Мафии игроки посредством обсуждения уже вычисляют коллектив убийц — команду мафии. Быстрому распространению и популярности игры помог итальянский сериал "Спрут", в котором полицейский комиссар Коррадо Каттани борется с сицилийской мафией.</p>
                    </div>
                    <div class="col">
                        <img src="https://maffia-online.ru/images/pic/serial_sprut.jpg" />
                    </div>
                </div>
            </div>
            <div>
                <p class="text-center">В 1998 году калининградской Высшей школой МВД РФ для курса "Визуальная психодиагностика" выпущено учебно-методическое пособие "Невербальная коммуникация. Развивающие ролевые игры «Мафия» и «Убийца»". Целями пособия определялись развитие личностных качеств курсантов и усвоение различных приёмов и методов чтения языка телодвижений в игровой форме. В 2010 году московское издательство "Планета" выпустило книгу Эдварда Асликяна "Мафия (правила, тактика и стратегия игры)".</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-center">Игра Мафия также используется для лечения азартных людей от игровой зависимости в Китае и как средство перевоспитания "трудных" подростков в летних христианских лагерях в США. С помощью "Мафии" к роли будущих присяжных готовятся японские старшеклассники. С 1998 года в крупных городах России, Украины, Белоруссии, Молдавии, Армении, Азербайджана, Казахстана и Китая предпринимаются попытки организации специализированных салонов по игре "Мафия". Некоторые клубы проводят межвузовские маф-турниры.</p>
                    </div>
                    <div class="col">
                        <img src="https://maffia-online.ru/images/pic/club-mafii.jpg" />
                    </div>
                </div>
                <p class="text-center">
                    4 января 1999 года другой студент МГУ Алексей Тарасов создал первый сайт для игры Мафия по PBEM типу (от англ. Play By Electronic Mail, игры по переписке). Система команд для управлением игрой  и часть документации были взяты Тарасовым из другой популярной в сети игры Galaxy+, которую реализовал и поддерживает Антон Круглов. На рубеже веков, примерно с 2000 года получили развитие многочисленные форумные мафии. Старейшие из них до сих пор пользуются заслуженным уважением и вниманием любителей игры на форумах порталов Absolute Games, RuBoard, Kamrad и на форуме известного писателя и сетевого деятеля Алекса Экслера. Один из вариантов игры был использован в кинофильме Волк-одиночка (англ. Cry Wolf ), вышедшем в 2005 году.
                    В данный момент вы находитесь на сайте maffia-online.ru, где можете играть в мафию онлайн прямо сейчас.
                </p>
                <p class="text-center">Мафия признана одной из 50 наиболее исторически и культурно существенных игр, появившихся с 1800 года.</p>
            </div>
        </div>
</form>
</body>
