﻿@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<head>
<title>Главная страница</title>
<style>
    HyperLink {
        word-spacing: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <asp:Label ID="Label1" BackColor="WhiteSmoke" runat="server" Text="Label"></asp:Label>

        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="btn btn-outline-dark" href="~/Home/Index"> Главная страница </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark">Ваш профиль<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Home/Histori">История игры<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Home/Roli">Роли игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Home/Pravila">Правила игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Player/Game">Игра</a>
                        </li>
                    </ul>
                    <asp:Button ID="Button1" runat="server" class="btn btn-outline-dark" OnClick="Button1_Click1" Text="Выход" />
                </div>
            </nav>
        </div>
        <div class="container">
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-sm">
                <p class="text-center">Добро пожаловать в игру «Мафия онлайн»!</p>
                <p class="text-center">Это бесплатная онлайн игра, основанная на классической «карточной» мафии. Для того чтобы начать играть, Вам не придется покупать карты для игры в мафию. Достаточно прочитать правила игры «Мафия онлайн» и зарегистрироваться.</p>
                <p class="text-center">Вы спросите: «Чем „Мафия“ отличается от других браузерных онлайн игр»? Мы ответим: «„Мафия“ отличается тем, что в ней надо по-настоящему думать». Под раздумьем подразумевается не выбор, куда ударить по противнику: в голову или в солнечное сплетение. Под раздумьем подразумевается: составление логической цепочки, выделение фальши в разговоре, умение доказать своё мнение. В игре мафия разные роли и у каждой множество тактик, здесь не Вы выбираете одну роль на всю игру, а случай. Из-за этого всё время надо перестраиваться, придумывать новые тактики.</p>
                <p class="text-center">Удачи и хорошей игры, друг мой! </p>
                <p class="text-center">И приглашай с собой друзей! :)</p>
            </div>
            </div>
    </form>
</body>