﻿@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<head>
<title>История игры</title>
<style>
    HyperLink {
        word-spacing: 20px;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <asp:Label ID="Label1" BackColor="WhiteSmoke" runat="server" Text="Label"></asp:Label>

        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="btn btn-outline-dark" href="~/Home/Index"> Главная страница </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="btn btn-outline-dark">Ваш профиль<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Histori">История игры<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Roli">Роли игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Pages/Pravila">Правила игры</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-dark" href="~/Player/Game">Игра</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">
                        Мафия – это командная игра, в которую играют условно 2 команды: мирные граждане против мафии. Цель игры – победить своей командой и при этом (желательно) остаться в живых. Задача мирных граждан выявить игроков мафии и предать их казни. У игроков мафии - выдать себя за обычных жителей и захватить город, уничтожив всех честных граждан.
                        Ночью честные граждане спят (за исключением активных ролей - комиссар, доктор и маньяк, которые играют на стороне мирных граждан), а мафия выбирает жертву.
                        Днём любой играющий может высказать свои истинные (или мнимые) подозрения против любого игрока, обвинив его в связях с мафией и поставив его кандидатуру на голосование. После завершения голосования игроку, получившему наибольшее количество голосов, предоставляется последнее слово. Это последняя возможность обвиняемого оправдаться и остаться в игре. Тут важно выбрать правильные слова: обличить других игроков в связях с мафией и/или выступить в свою защиту. Затем все игроки кроме обвиняемого решают стоит казнить его или помиловать. Если большинство требует казнь игрока, обвиняемый выбывает из игры, открывая свою роль. Тогда всем становится ясно, что был убит либо мирный гражданин и мафии удалось одурачить горожан, либо погиб мафиози (и мафия жестоко отомстит за его смерть). Если город решит помиловать "невиновного", он продолжит игру и его роль так и останется загадкой.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-center">
                            Следом снова наступает ночь. И снова мафия выбирает следующую жертву, которую утром найдут мертвой, если на помощь вовремя не придет доктор или полиция. Игра заканчивается либо полной победой мафии, либо мирных жителей. В случае, если с обеих сторон осталось равное количество игроков, считается, что победила мафия.
                            Как вы наверное уже поняли, в игре Мафия как и в карточной игре Покер присутствуют две составляющие: умение наблюдать за другими людьми и умение делать выводы о стратегиях, с которыми играют другие игроки. Кроме того это достаточно увлекательная и динамическая игра, которая проходит в живом общении (что тоже достаточно ценно).
                            Для усложнения игровой ситуации и придания игре больше интереса, помимо рядовых мафиози и мирных граждан, в игру могут быть введены следующие роли, которые только обостряют ее и придает ей дополнительную сложность (куда ж без препятствий в игре): шериф и Дон мафии.
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://maffia-online.ru/images/pic/gorod-zasypaet.jpg" />
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <p class="text-center">
                        Вывод:
                        Если вам досталась роль на стороне мирных граждан, то ваша цель - найти мафиози. Если вам досталась "метка" мафии, цель - выдавать себя за мирного игрока.
                        Мафия – командная игра. Если у вас есть возможность пожертвовать собой или другим игроком команды, но при этом принести победу команде, такая жертва является оправданной.
                    </p>
                </div>
            </div>
        </div>
    </form>
</body>
