﻿@using WebApplication1.Models
@model IEnumerable<Event>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="text-center" style="color:#000000">
@{
        foreach (var currentEvent in Model)
        {
                <p class="text-center">
                    @currentEvent.Text
                </p> 
        }
 }
    </div>
<script>
    setTimeout(function () {
        location.reload();
    }, 5000);
</script>
