﻿@using WebApplication1.Models
@model IEnumerable<Player>

<p>Приветики-омлетики</p>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mafia</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Game_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
</head>

<body>
    <div id="container">
        <div id="main" class="text-center">
            <iframe id="events" src="~/event/eventslist" height="90%" width="100%">ууууу</iframe>
        </div>
        <div id="players">
            <p>
                Игроки
            </p>
            <iframe src="~/player/list" height="90%" width="100%">ууууу</iframe>
            @{ 
                var events = Database.SendQuery($"SELECT * FROM [Event]").Rows;
            }
            @if (Model.Count() >= 1 && events.Count == 0)
            {
                <a asp-controller="Player" asp-action="StartGame">Ну че собаки погнали</a>
                <button id="Button1" asp-controller="Player" asp-action="StartGame">Ну че собаки погнали</button>
            }
        </div>
    </div>

    <div id="chat" class="text-center">
        <div class="container">
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>

            <div id="chatbox"></div>
            <form name="message" action="">
                <input name="usermsg" type="text" id="usermsg" size="63" />
                <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
            </form>
     </div>
</body>
</html>
